
*.pxd
assets/._arial_bold.ttf
assets/._beep.mp3
assets/._glyph1.png
assets/._glyph2.png
assets/._glyph3.png
assets/._glyph4.png
assets/._glyph5.png
assets/._grain.gif
assets/._lines_overlay.png
assets/._only_hieroglyphs.png
assets/._reset.mp3
assets/._timer.png
assets/._timer_glyphs.png
assets/._timer_glyphs_complete.png
screenshots/._108.png
screenshots/._four_minutes.png
screenshots/._hieroglyphs.png
js/._button.js
js/._sounds.js
js/button.js
._index.html
._styles.css
js/._cheats.js
assets/._computer.png
assets/._keyboard.mp3
assets/._timer_cutaway.png
assets/._timer_cutaway2.png
js/._timer.js
._index.html
js/._timer.js
js/._sequences.js
._index.html
js/._timer.js
js/._timer.js
assets/._tick.mp3
._index.html
._index.html
